<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>todo list</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="addTodo" value="" placeholder="Add a todo...">
      <input type="submit" value="Add todo">
      <div id="myDIV" class="header">
      <ul id="myUL">
        
      </ul>
    </form>
  </body>
</html>
